@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #e4e4e2;
  color: #333;
}

header{
  background-color: #e9e9e7;
  color: #0E6F3E;
  box-shadow: rgba(0, 0, 0, 0.116) 6px 6px 13px 0px;
  max-height: 10vh;
  width: auto;
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    margin: auto 2vh;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin: auto ;
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: #5a5a5a;
    padding: 0 5px;
    border-radius: 5px;
    position: relative;
    letter-spacing: 0px;
}

header a::after{
    content: "";
    position: absolute;
    background-color: #0E6F3E;
    height: 0.5vh;
    width: 0%;
    left: 0px;
    bottom: -1.2vh;
    transition: 0.2s;
}

header a:hover{
    color: #000000;
}

header a:hover::after{
    width: 100%;
    background-color: #0E6F3E;
   
}

#logo{
    max-height: 10vh;
    border-radius: 5px;
}


main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #0E6F3E;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0E6F3E;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}

section#sobre{
  width: 100%;
  height: 60vh;
  margin-top: 40px;
}

#QSomos{
  text-align: center;
  margin: 45px 0px 50px 0px;
  color: #004924;
  font-family: 'Poppins';
  font-size: min(5vh, 3rem);
}

#QStexto{
  position: relative;
  width: 80vw;
  height: auto;
  left: 0%;
  margin-left: 10vw;
  margin-right: 10vw;
}
#QStexto p{
  padding: 30px;
  height: auto;
  margin-top: 20px;
  text-indent: 70px;
  text-align: center;  
  font-family: 'Poppins';
  font-size: 1.2rem;
}



