@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{ 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav{
    
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-height: 10vh;
}


.logo{
    margin: 0;
    padding: 0;
    top: 0;
    max-height: 65px;
    position: absolute;
    border-radius: 5px;
}

.useri{
    font-size: 40px;
    cursor: pointer;
    margin-left: 30px;
    color: #5a5a5a;
    visibility: hidden;
    transition: ease-in-out 0.5s;
}

.useri.loged{
    transition: ease 0.5s;
    visibility: visible;
}

nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #5a5a5a;
    text-decoration: none;
}

.sub-menu-wrap{
    position:absolute;
    top: 100%;
    right: 10%;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
    padding: 20px;
    margin: 10px;
}
.user-inf{
    display: flex;
    align-items: center;
}
.user-inf a{
    font-weight: 500;
    font-size: 13px;
    transition: transform 0.5s;
    color: #5a5a5a;
}
.ico-logout{
    position: relative;
    margin-right: 15px;
    top: 3px;
    font-size: 18px;
}
.sub-menu a:hover{
    transform: translate(5px);
    color: black;
    font-weight: 600;
}

ul{
    transition: 0.4s ease-in-out;
}

.user-icon:hover{
    color: #000000;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#mapa {
  background-color: #EDECE7;
  padding: 5px;
  margin-top: 20px;
  border-radius: 20px;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 20px;
}

#form-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
#form-section h2{
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
textarea,
button {
    padding: 10px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {

    background-color: #1b5e20;
}
.input-box {
  position: relative; 
}

.sugestoes {
  position: relative;       
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  z-index: 2;
}

.sugestoes div {
  padding: 8px 10px;
  cursor: pointer;
}

.sugestoes div:hover {
  background-color: #f0f0f0;
}

.sugestoes.unica {
  max-height: none;
  border: none;
  box-shadow: none;
  margin-top: 0;
}